/* Modal content styling */
.modal-content {
    position: relative; /*Maintain element relativity*/
    text-align: center;
    width: 512px;
    height: 512px;
    margin: auto;
}

/* Skull and bones images */
#crossbones, #skullJaw, #skullTop {
    position: absolute; /*Layered on top of each other*/
    top: 5rem;
    left: 0;
    width: 100%; /*Uniform scaling*/
    height: auto;
}

#restartButton {
    background-color: #0b0b0b;
    color: #14a44d;
    border: none;
    position: absolute;
    top: 5%;
    left: 44%;
    width: 10rem;
    height: 3rem;
    border-radius: 0.25rem;
}

#restartButton:hover {
    background-color: #194935;
    color: #1cf372;
}

/* Z-index management*/
#crossbones {
    /*Lowest index*/
    z-index: 1;
}

#skullJaw {
    /*Middle*/
    z-index: 2;
}

#skullTop {
    /*Top*/
    z-index: 3;
}

/*
body {
  background-color: #222222;
}
 */